
html,
body {
    width: 100%;
    height: 100%;
}

body {
    font-family: 'Helvetica Neue',Arial,sans-serif;
    webkit-tap-highlight-color: #222;
}

a {
    color: #E81B00;
    -webkit-transition: all .35s;
    -moz-transition: all .35s;
    transition: all .35s;
}

a:hover,
a:focus {
    color: #96200F;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: 'Open Sans','Helvetica Neue',Arial,sans-serif;
}

h1{
    padding-bottom: 50px;
    padding-top: 30px;
}

h2{
    padding-bottom: 20px;
}

p {
    margin-bottom: 20px;
    font-size: 16px;
    line-height: 1.5;
}

section {
    padding: 50px 0;
}

aside {
    padding: 50px 0;
}

.no-padding {
    padding: 0;
}

.navbar-default {
    border-color: #E81B00;
    font-family: 'Open Sans','Helvetica Neue',Arial,sans-serif;
    background-color: #fff;
    -webkit-transition: all .35s;
    -moz-transition: all .35s;
    transition: all .35s;
}

.navbar-default .navbar-nav>.open>a, .navbar-default .navbar-nav>.open>a:focus, .navbar-default .navbar-nav>.open>a:hover {
    color: #E81B00;
    background-color: #e7e7e7;
}

.navbar-default .navbar-header .navbar-brand {
    text-transform: uppercase;
    font-family: 'Open Sans','Helvetica Neue',Arial,sans-serif;
    font-weight: 700;
    color: #E81B00;
}

.navbar-default .navbar-header .navbar-brand:hover,
.navbar-default .navbar-header .navbar-brand:focus {
    color: #96200F;
}

.navbar-default .navbar-toggle:focus, .navbar-default .navbar-toggle:hover{
    background-color: #FFC7C1;
}

.navbar-default .navbar-toggle .icon-bar{
    background-color: #E81B00;
}

.navbar-default .navbar-toggle,
.navbar-default .navbar-collapse, .navbar-default .navbar-form{
    border-color: #E81B00;
}

.navbar-default .navbar-nav .open .dropdown-menu>li>a,
.navbar-default .nav > li > a,
.navbar-default .nav > li > a:focus {
    text-transform: uppercase;
    font-size: 16px;
    font-weight: 700;
    color: #E81B00;
}

.navbar-default .navbar-nav .open .dropdown-menu>li>a:hover,
.navbar-default .nav > li>a:hover,
.navbar-default .nav>li>a:focus:hover {
    color: #96200F;
}

.navbar-default .nav > li.active>a,
.navbar-default .nav>li.active>a:focus {
    color: #f05f40!important;
    background-color: transparent;
}

.navbar-default .nav > li.active>a:hover,
.navbar-default .nav>li.active>a:focus:hover {
    background-color: transparent;
}

@media (max-width: 767px) {
.navbar-nav .open .dropdown-menu>li>a {
    line-height: 22px;
}
}

@media(min-width:900px) {
    .navbar-default .navbar-nav>.open>a, .navbar-default .navbar-nav>.open>a:focus, .navbar-default .navbar-nav>.open>a:hover {
        color: #E81B00;
        background-color: transparent;
    }
    
    .navbar-default {
        background-color: transparent;
    }

    .navbar-default .navbar-header .navbar-brand,
    .navbar-default .nav > li>a,
    .navbar-default .nav>li>a:focus {
        color: #FFF;
    }

    .navbar-default.affix {
        border-color: #E81B00;
        background-color: #fff;
    }

    .navbar-default .navbar-header .navbar-brand:hover,
    .navbar-default .navbar-header .navbar-brand:focus,
    .navbar-default .nav > li>a:hover,
    .navbar-default .nav>li>a:focus:hover,
    .navbar-default.affix .navbar-header .navbar-brand,
    .navbar-default.affix .nav > li>a,
    .navbar-default.affix .nav>li>a:focus {
        color: #E81B00;
    }


    
    .navbar-default.affix .navbar-header .navbar-brand:hover,
    .navbar-default.affix .navbar-header .navbar-brand:focus,
    .navbar-default.affix .nav > li>a:hover,
    .navbar-default.affix .nav>li>a:focus:hover {
        color: #96200F;
    }
    
    .dropdown-menu>li>a:focus, .dropdown-menu>li>a:hover{
        background: #FFF;
    }
    .dropdown-menu{
        min-width: initial;
        border-radius: 0;
        border: 1px solid #E81B00;
    }
}

header {
    position: relative;
    width: 100%;
    min-height: auto;
    text-align: center;
    color: #fff;
    background-image: url(../img/bgChampex.jpg);
    background-position: center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
    -o-background-size: cover;
}

header .header-content {
    position: relative;
    width: 100%;
    padding: 100px 15px;
    text-align: center;
}

header .header-content .header-content-inner h1 {
    margin-top: 0;
    margin-bottom: 0;
    text-transform: uppercase;
    font-weight: 700;
}

header .header-content .header-content-inner hr {
    margin: 30px auto;
}

header .header-content .header-content-inner p {
    margin-bottom: 50px;
    font-size: 25px;
    font-weight: 300;
    color: #FFF;
}

@media(min-width:900px) {
    header {
        min-height: 100%;
    }

    header .header-content {
        position: absolute;
        top: 50%;
        padding: 0 50px;
        -webkit-transform: translateY(-50%);
        -ms-transform: translateY(-50%);
        transform: translateY(-50%);
    }

    header .header-content .header-content-inner {
        margin-right: auto;
        margin-left: auto;
        max-width: 1000px;
    }

    header .header-content .header-content-inner p {
        margin-right: auto;
        margin-left: auto;
        max-width: 90%;
        font-size: 28px;
    }
}

.section-heading {
    margin-top: 0;
}

.service-box {
    margin: 50px auto 0;
    max-width: 400px;
}

.no-gutter > [class*=col-] {
    padding-right: 0;
    padding-left: 0;
}

.btn-default {
    display: inline-block;
    margin: 8px;
    padding: 8px 10px;
    background: #E81B00;
    color: #FFF;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
    border: solid 1px #370C05;
    text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.4);
    -webkit-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.4), 0 1px 1px rgba(0, 0, 0, 0.2);
    -moz-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.4), 0 1px 1px rgba(0, 0, 0, 0.2);
    box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.4), 0 1px 1px rgba(0, 0, 0, 0.2);
    -webkit-transition-duration: 0.2s;
    -moz-transition-duration: 0.2s;
    transition-duration: 0.2s;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.btn-default:hover, 
.btn-default:focus {
    color: #FFF;
    background: #96200F;
    border: solid 1px #370C05;
    text-decoration: none;
}

.btn-default:active {    
    background: #C42914;
}

.btn {
    text-transform: uppercase;
    font-family: 'Open Sans','Helvetica Neue',Arial,sans-serif;
    font-weight: 700;
    padding: 15px 30px;
}

.btn-large{
    font-size: 18px;
}

.col-centered{
    float: none;
    margin: 0 auto;
}

.reserve {
    display: inline-block;
}

.reserve > img{    
    border: 7px solid #E81B00;
}
.reserve > img:hover,   
.reserve > img:active{    
    border: 7px solid #96200F;
}

.container.first{
    padding-top: 50px;
}

footer {
    margin-top: 20px;
    border-top: 1px solid #E81B00;
}

footer p {
    margin: 5px;
    font-size: 11px;
}

.float-left{
    float: left !important;
}

.float-right{
    float: right !important;
}

@media (max-width: 900px) {
    .navbar-header {
        float: none;
    }
    .navbar-left,.navbar-right {
        float: none !important;
    }
    .navbar-toggle {
        display: block;
    }
    .navbar-collapse {
        border-top: 1px solid transparent;
        box-shadow: inset 0 1px 0 rgba(255,255,255,0.1);
    }
    
    .navbar-fixed-bottom .navbar-collapse, .navbar-fixed-top .navbar-collapse, .navbar-static-top .navbar-collapse {
        padding-left: 15px;
        padding-right: 15px;
    }
    
    .navbar-fixed-top {
        top: 0;
        border-width: 0 0 1px;
    }
    .navbar-collapse.collapse {
        display: none!important;
    }
    .navbar-nav {
        float: none!important;
        /*margin-top: 7.5px;*/
            margin: 7.5px -15px;
    }
    .navbar-nav>li {
        float: none;
    }
    .navbar-nav>li>a {
        padding-top: 10px;
        padding-bottom: 10px;
    }
    .collapse.in{
        display:block !important;
    }
   .navbar-nav .open .dropdown-menu {
       position: static;
       float: none;
       width: auto;
       margin-top: 0;
       background-color: transparent;
       border: 0;
       -webkit-box-shadow: none;
       box-shadow: none;
    }
    
    .container-fluid>.navbar-collapse, .container-fluid>.navbar-header, .container>.navbar-collapse, .container>.navbar-header {
        margin-right: -15px;
        margin-left: -15px;
    }
    .navbar>.container .navbar-brand, .navbar>.container-fluid .navbar-brand {
        margin-left: 0;        
    }
    .navbar-brand {
        padding: 15px 15px;
    }
    
    .navbar-nav .open .dropdown-menu .dropdown-header, .navbar-nav .open .dropdown-menu>li>a {
        padding: 5px 15px 5px 25px;
    }
    .dropdown-menu>li>a:focus, .dropdown-menu>li>a:hover{
        background-color: #FFF;
    }
    .navbar-default .navbar-nav .open .dropdown-menu>li>a:focus, .navbar-default .navbar-nav .open .dropdown-menu>li>a:hover{
        color: #96200F;
    }
}

